<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Editar Jogo</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header>
        <h1>Editar Jogo</h1>
    </header>

    <form method="POST">
        <label for="nome">Nome do Jogo:</label>
        <input type="text" id="nome" name="nome" value="{{ jogo.nome }}" required>
        <br>
        <br>
        <label for="genero">Gênero do Jogo:</label>
        <input type="text" id="genero" name="genero" value="{{ jogo.genero }}" required>
        <br>
        <br>
        <button type="submit">Salvar Alterações</button>
    </form>

</body>
</html>
